.test
{
    color:rgb(25, 0, 255);
}
*
{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

    
bodyy{
    background-color: black;
width:100%;
height:100vh;
opacity:0.8;
z-index: -1;
position:relative;
}
.overlay
{
    background-color: rgb(0, 0, 0,.7);
    width:100%;
    height:100vh;
    z-index:2;
    position: absolute;
    visibility: hidden;
}
/****************************************opoupform**********************************************/
.logincancel
{
    font-size:30px;
    position:absolute;
    right:10px;
    top:-2px;

}
.popupformcol
{

    padding:40px 0px;
    margin-top:20px;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.6)),url('engine.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius:5px;
    z-index:3;
    position:absolute;
    top:80px;
    left:24%;
    display:flex;
    justify-content:center;
    visibility: hidden;
}


.loginform
{
    width:80%;
    border:none;
    background: transparent !important;
    color: white;
    
   
}

.loginform input
{

font-family: sans-serif;
background:transparent!important;
width:100%;
color: rgb(255, 255, 255) !important;
font-weight:800px;
margin-top: 20px;
color:rgb(255, 255, 255);
border-radius: 40px solid white !important;
padding:10px;

}

input:focus
{
    border:none!important;
}
.loginform input::placeholder
{
    color:white !important;
}
.loginbtn
{
    border:none;
    margin-top:10px ;
    background-color: rgb(255, 0, 0);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width:100px;
    
    
    
}
.loginbtn:hover:active{
    background-color:green;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

/*****************************************popupformend****************************************************/
section{
    width: 100%;
    min-height: 100vh;
    justify-content:center;
    align-items:center;
    
}

.logo:hover{
    box-shadow:inset 2px 2px 10px rgb(0, 0, 0);
    border-radius:5px;
}
#navli
{
   
    margin-right:3px;
    transition: 0.5s;
    
}
.navbutton
{
    border:none;
    background-color:rgb(28, 104, 218);
    border-top-left-radius: 5px;
    border-bottom-right-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition:0.3s;
    color:white;
}
.navbutton:hover
{
    background-color:green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    color:white;
    transform:0.3s;
}
#navli:hover
{
    
    
    color:rgb(0, 0, 0);
    border-radius: 2px;
    background-color: white;
border:1px solid black;
border-radius: 5px;

    
    
}

#navfix
{
    position:sticky;
    z-index:100;
    top:0;
    left:0;
    box-shadow:5px 5px 20px rgb(0, 0, 0);

}
/******************************popup********************************************************************************/
.fad
{
background-color: black;
width:100%;
height:100vh;
opacity:0.8;
z-index:1;
position:relative;
}
.popupform
{
    margin:40px auto;
}
.popupform input{

    font-weight: bold;
    color:black;
}
.popupcol
{
    background:transparent; 
    height: auto;
   display: none;
    z-index:2;
}
.popupbutton
{
    color:white;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;

}
.popupbutton:hover{
    background-color: green;
    color:white;
}
/*************************about us******************************************************************************/
.aboutrow1 
{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.9)),url('long.jpeg');
    width:100.9%;
    height:200px;
    font-family: "Dosis", sans-serif;
}
.abouttitle1/******About****/
{
    color:rgb(85, 82, 82);
    display:inline;
    border-bottom: 3px solid red;
    border-radius: 20px;
}
.abouttitle2/********Automobil******/
{
    display:inline;
    color:black;
    font-weight:bold;
}
.toolicon
{
    background-color:red;
    color:white;
    border-radius: 3px;
    width:70px;
    height:70px;
    padding-left: 11px;
    padding: 10px;
    transition: 0.5s;
}
.toolicon:hover{
    background-color: green;
    transition: 0.5s;
}
.row3title1/*********Automobil********/
{
    display: inline;
    color:rgba(85,82,82);
    font-weight:10;
    border-bottom: 3px solid red;
    border-radius: 20px;
}
.row3title2/******** was founded*****/
{
    display: inline;
    color:black;
    font-weight:bold;
}
/**************************************our team***************************************************/
.team
{
    margin-top: 30px;
}
.teamtitle
{
    margin-top: 30px;
    display: inline;
    font-family: "dosis"sans-serif;
}
.staricon
{
    margin-top: 30px;
    color: red;
    margin-left: auto 120px;


}
.staricon:hover
{
color:green;
cursor: pointer;
}
.skill
{

    font-size: 3vmin;
    text-align: left;
    background-color: red;
    border-radius:5px;
    color: white;
    margin-top: 10px;
  
    
}
   /**********************services********************************************************************/ 
.col1
{
    margin-top:30px;
    width:400px;
}
.col1 h3{
    font-family:sans-serif;
}
.col1:hover h3{
    color:red;
}
.col1 img{
    box-shadow: 15px 15px 8px rgba(0,0,0,.3),
    inset 4px 4px 10px white;
    width: 100%;
}
.col1 img:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.3),
    inset -20px -20px 20px rgb(255, 0, 0);
}
.card
{
    border:none;

}
.col
{
    margin-top: 5%;
}
#servicerow
{
    background-color: rgb(196, 11, 11);
    color:rgb(255, 255, 255) ; 
    
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
   
    border-radius: 5px;
}

#service1col1
{
    
    text-align: center;
    font-size:20px;
    color:rgb(255, 0, 0);
   
}
#servicecol1 h3
{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top:40%;
    font-size:3vw;
    color: red;
    font-family: "Dosis", sans-serif;
}
/*h5
{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 10%;
    font-size:20vw;
text-align: justify;
    text-align:center;
    font-family: "Dosis", sans-serif;
}*/
#servicecol2
{
   
    background-color:gray;
    color: white;
    border-radius: 10px;
    font-family: "Dosis", sans-serif;
}

.img1
{
width:100%;
border-radius:10px;
box-shadow: 0 0 10px black;

}
#service1col1:hover
{
    color: red;
}

/************************form**********************/

.userform
{
    
    margin-top:0px;
    height:290px;
    margin-bottom:50px;
    border:none;
    background: transparent !important;
    color: white;
   
}

.userform input
{
display:block;
font-family: sans-serif;
background:transparent!important;

color: rgb(255, 255, 255) !important;
font-weight:500px;
margin-top: 10px;
color:rgb(255, 255, 255);
border: none!important;
border-bottom: 2px solid #ffffff !important;
}

.userform textarea
{
    background: transparent !important;
    color: white !important;
    border: 2px solid white !important;
}
.userform textarea::placeholder
{
    color: white !important;
}
input:focus
{
    border:none!important;
}
.userform input::placeholder
{
    color:white !important;
}
.formbtn
{
    border:none;
    margin-top:10px ;
   
    background-color: red;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width:100px;
    transition:1s;
    
    
}
.formbtn:hover{
    background-color:green;
    border-top-left-radius:20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: 1s;
}
.formcol
{
    margin-top: 40px;

}
.formcol img{
    border-radius: 20px;
}
.formcol1
{
    margin-top:25px ;
}
.contacticon
{

color:rgb(0, 0, 0);
font-size:1.5rem ;
margin-left: 30px;
}
.Contacticoncol
{
    border:2px solid rgb(255, 0, 0);
    height:100px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    margin-top:10%;
}

.contacth1
{
    display: inline-block;
    color: rgb(216, 216, 216);
    border-bottom:3px solid rgb(0, 0, 0);
    margin-left:130px;
    border-radius:20px;
}
.contacth11
{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-top:30px;
    align-items: center;
}
/********************************************faq****************************************/
.faqq{
    margin-top: 30px;
}

/**************************************footericons***********************************/
.footericons
{
color: rgb(179, 174, 174);
    padding-left: 10px;
    padding-right: 10px;
    margin-top:50px;
    font-size:1.5rem;
    
   
}
.footericons:hover
{
    color:red;
}
.footerul li{
    padding-top:5px;
}
.resiresi
{
    display:inline-block;
    text-align:justify;
    font-size:3vmin;
    color: white;
}
.footercon{
    background-image: url('footerimg.jpeg');
    width:100%;
}
.footerh{
    color:rgb(255, 0, 0);
    display:inline-block;
    margin-left: 25px;
    margin-top: 10px;
   
}
.footerh32
{
    color:rgb(255, 0, 0);
    display:inline-block;
    margin-left: 25px;
    margin-top: 10px;
    
}
.footerh3{
    color:rgb(255, 0, 0);
    display:inline-block;
    margin-left: 25px;
    margin-top: 10px;
}
.footerul li{
    color:white;
}
.footerul li:hover
{
    color:red;
    cursor: pointer;
}
.footerull li{
    color:white;
}
.footerull li:hover
{
    color:red;
    cursor: pointer;
}
.footerulll li{
    color:white;
}
.footerulll li:hover
{
    color:red;
    cursor: pointer;
}
.footerlogo
{
    margin-bottom:-10px;
    color:white;
    margin-top:10px;
    width:90%;
}
@media (max-width:1000px) {
    .resiresi{
      font-size:20px;
      margin-top:20px;
      text-align:justify;
    }
  }
  @media (max-width:1000px) {
    .footercon{
      margin-top:40px;
    }
  }
  @media (max-width:1000px) {
    .footerul li{
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width:1000px) {
    .footericons{
      padding-left:5px ;
      padding-right:5px;
    }
  }
  @media (max-width:1000px) {
    .footerlogo{
      width:70%;
    }
  }
@media (max-width:800px){
    .Contacticoncol{
        margin-top:px;
    }
}
@media (max-width:800px){
    .logo{
        width:70%;
    }
}
@media (max-width:1000px){
    .contacth1{
        font-size: 28px;
        margin-left:20%;
    }
}
@media (max-width:1000px){
    .contacth11{
        font-size: 28px;
        
    }
}
@media (max-width:1200px){
    .contacth1{
        
        margin-left:20%;
    }
}
@media(max-width:770px){
    .skill
    {
        width:50%;
    }
}
@media(max-width:770px){
    .popupformcol
    {
        width:auto;
        height: 250px;
        padding: 10px 0px;
        
    }
}
@media(max-width:770px){
    .loginform
    {
        width:auto;
        height:200px !important;
    }
}
@media(max-width:770px){
    .loginform input
    {
       height:20px;
       width:200px;
    }
}
@media(max-width:770px){
    .loginbtn
    {
        width:100px;
        height:30px;
        padding-bottom:30px;
        
    }
}
